/*tenniscourt {
  border: solid #333333 1px;
  height: 400px;

}*/

baseline {
  border: solid #FCFCFC 1px;
  height: 60px;
  background-color: #6b8c00;
  background-image: url("http://www.transparenttextures.com/patterns/clean-gray-paper.png");
  }

servebox {
  border: solid #FCFCFC 1px;
  height: 60px;
  background-color: #6b8c00;
  background-image: url("http://www.transparenttextures.com/patterns/clean-gray-paper.png");
}

net {
  border: solid #333333 1px;
  height: 20px;
  background-color: #000000;
  background-image: url("http://www.transparenttextures.com/patterns/tiny-grid.png");
}
